.event-form {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

.event-form textarea {
    border-radius: 4px;
    min-height: 6rem;
}

.event-input {
    margin: 0.4rem 0rem;
    padding: 0.4rem;
    border-radius: 8px;
    border: 0;
}