.event-container {
    margin: auto;
    max-width: 60vw;
}

.my-event-container {
    margin: auto;
    max-width: 60vw;
}

.center-partial {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.toggleBtn {
    border: 0;
    font-size: 1rem;
    color: #292826;
    background-color: inherit;
    text-decoration: none;
    text-align: center;
    width: fit-content;
}

.toggleBtn:hover {
    color: #000;
    text-decoration: underline;
}

.event-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
}

.event {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    background-color: #ffff;
}

.dropdown-content {
    display: none;
    z-index: 1;
}

.event:hover .dropdown-content {
    display: block;
}

.title-content {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}

.description {
    margin: 1.4rem 0rem;
}

.cost {
    margin-right: 2rem;
}